<mat-toolbar color="primary">
    <span><h2 class="mat-display-3">REST API Version</h2></span>
</mat-toolbar>

<div class="viewport mat-elevation-z5">
  <mat-list *ngIf="version | async as version">
    <mat-list-item>
      <p matLine class="mat-body">{{ version[0].major_version }}</p>
      <p matLine class="mat-caption">REST API Version</p>
    </mat-list-item>
    <mat-list-item>
      <p matLine class="mat-body">{{ version[0].minor_version }}</p>
      <p matLine class="mat-caption">REST API Revision</p>
    </mat-list-item>
    <mat-list-item>
      <p matLine class="mat-body">{{ version[0].release_notes }}</p>
      <p matLine class="mat-caption">Release Notes</p>
    </mat-list-item>
    <mat-list-item>
      <p matLine class="mat-body">{{ version[0].timestamp * 1000 | date : "MM.dd.yyyy HH:mm" }}</p>
      <p matLine class="mat-caption">Release Date</p>
    </mat-list-item>
    <mat-list-item>
      <p matLine class="mat-body">{{ version[0].ipfire_core }}</p>
      <p matLine class="mat-caption">IPFire Core</p>
    </mat-list-item>
  </mat-list>
</div>
