<div *ngIf="config | async as config">
  <div><mat-slide-toggle [checked]="config.enable_ssh">Allow SSH</mat-slide-toggle></div>
  <p class="mat-caption">Master control to enable or disable remote access to the router.</p>
  <div><mat-slide-toggle [checked]="config.ssh_port">Transparent SSH Port</mat-slide-toggle></div>
  <p class="mat-caption">If set to True, the SSH server will listen on port 22 instead of port 222</p>
  <div><mat-slide-toggle [checked]="config.enable_ssh_keys">Allow Key Login</mat-slide-toggle></div>
  <div><mat-slide-toggle [checked]="config.enable_ssh_passwords">Allow Password Login</mat-slide-toggle></div>
  <div><mat-slide-toggle [checked]="config.enable_ssh_portfw">Allow TCP Forwarding</mat-slide-toggle></div>
  <div><mat-slide-toggle [checked]="config.enable_agent_forwarding">Allow Agent Forwarding</mat-slide-toggle></div>
</div>
