/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/**
 * Align accordion descriptions.
 * See https://github.com/angular/components/issues/5173.
 */
.mat-expansion-panel-header-title, 
.mat-expansion-panel-header-description {
  flex-basis: 0;
}

/**
 * Resets page with 0 margins.
 */
html, body {
  margin: 0;
  height: 100%;
}

mat-sidenav {
  width: 240px;
}
