<mat-toolbar color="primary">
    <span><h2 class="mat-display-3">Leases</h2></span>
</mat-toolbar>
  
<div class="viewport mat-elevation-z5">
  <ng-container *ngIf="status | async as status">
    <mat-tab-group>
      <mat-tab label="dynamic">
        <mat-accordion displayMode="flat">
          <ng-container *ngFor="let l of status.dynamic">
            <mat-expansion-panel class="mat-elevation-z0">
              <mat-expansion-panel-header>
                <mat-panel-title>{{ l.hostname ? l.hostname : l.mac }}</mat-panel-title>
                <mat-panel-description>{{ l.ip }}</mat-panel-description>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <mat-list>
                  <mat-list-item>
                    <p matLine class="mat-body">{{ l.hostname ? l.hostname : "None" }}</p>
                    <p matLine class="mat-caption">Hostname</p>
                  </mat-list-item>
                  <mat-list-item>
                    <p matLine class="mat-body">{{ l.mac }}</p>
                    <p matLine class="mat-caption">MAC</p>
                  </mat-list-item>
                  <mat-list-item>
                    <p matLine class="mat-body">{{ l.ip }}</p>
                    <p matLine class="mat-caption">IP</p>
                  </mat-list-item>
                  <mat-list-item>
                    <p matLine class="mat-body">{{ l.end * 1000 | date : "MM.dd.yyyy HH:mm" }}</p>
                    <p matLine class="mat-caption">Expiration Time</p>
                  </mat-list-item>
                  <mat-list-item>
                    <p matLine class="mat-body">{{ l.hardware_type }}</p>
                    <p matLine class="mat-caption">Lease Type</p>
                  </mat-list-item>
                </mat-list>
              </ng-template>
            </mat-expansion-panel>
          </ng-container>
        </mat-accordion>
      </mat-tab>
      <mat-tab label="fixed">
        <mat-accordion displayMode="flat">
          <ng-container *ngFor="let l of status.fixed">
            <mat-expansion-panel class="mat-elevation-z0">
              <mat-expansion-panel-header>
                <mat-panel-title>{{ l.mac }}</mat-panel-title>
                <mat-panel-description>{{ l.ip }}</mat-panel-description>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <mat-list>
                  <mat-list-item>
                    <p matLine class="mat-body">{{ l.enabled }}</p>
                    <p matLine class="mat-caption">Enabled</p>
                  </mat-list-item>
                  <mat-list-item>
                    <p matLine class="mat-body">{{ l.mac }}</p>
                    <p matLine class="mat-caption">IP</p>
                  </mat-list-item>
                  <mat-list-item>
                    <p matLine class="mat-body">{{ l.ip }}</p>
                    <p matLine class="mat-caption">IP</p>
                  </mat-list-item>
                  <mat-list-item>
                    <p matLine class="mat-body">{{ l.next_server }}</p>
                    <p matLine class="mat-caption">Next Hop</p>
                  </mat-list-item>
                  <mat-list-item>
                    <p matLine class="mat-body">{{ l.filename }}</p>
                    <p matLine class="mat-caption">Filename</p>
                  </mat-list-item>
                  <mat-list-item>
                    <p matLine class="mat-body">{{ l.root_path }}</p>
                    <p matLine class="mat-caption">Root Path</p>
                  </mat-list-item>
                  <mat-list-item>
                    <p matLine class="mat-body">{{ l.remark ? l.remark : "None" }}</p>
                    <p matLine class="mat-caption">Comment</p>
                  </mat-list-item>
                </mat-list>
              </ng-template>
            </mat-expansion-panel>
          </ng-container>
        </mat-accordion>
      </mat-tab>
    </mat-tab-group>
  </ng-container>
</div>




