<mat-table [dataSource]="leases | async">
  <ng-container>
    <ng-container matColumnDef="hostname">
      <mat-header-cell *matHeaderCellDef>Hostname</mat-header-cell>
      <mat-cell *matCellDef="let l">{{ l.hostname }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="lease_end">
      <mat-header-cell *matHeaderCellDef>Expiration Time</mat-header-cell>
      <mat-cell *matCellDef="let l">{{ l.end * 1000 | date : "MM.dd.yyyy HH:mm" }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="ip">
      <mat-header-cell *matHeaderCellDef>IP</mat-header-cell>
      <mat-cell *matCellDef="let l">{{ l.ip }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="mac">
      <mat-header-cell *matHeaderCellDef>MAC</mat-header-cell>
      <mat-cell *matCellDef="let l">{{ l.mac }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef>Lease Type</mat-header-cell>
      <mat-cell *matCellDef="let l">{{ l.hardware_type }}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
    <mat-row *matRowDef="let d; columns: columns"></mat-row>
  </ng-container>
</mat-table>


